<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZJNSu-NLS_TjOB7xiUgO3XnMMY2ZZRPA</string>
	<key>GCM_SENDER_ID</key>
	<string>297285961698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jao.app.SplitSync</string>
	<key>PROJECT_ID</key>
	<string>splitsync-7122f</string>
	<key>STORAGE_BUCKET</key>
	<string>splitsync-7122f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297285961698:ios:d15546f84be5b8d899dbbb</string>
</dict>
</plist>